.ds-toolbar {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
  gap: var(--ds-toolbar-gap, 1rem);
  margin-block-end: var(--ds-toolbar-margin-block-end, 1.5rem);

  @media (min-width: 40rem) {
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-auto-columns: auto;
  }
}
