---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PatternIndexPage from "@/components/ds/mønster/PatternIndexPage.astro";
---

<BaseLayout
    title="UI-mønstre"
    description="Anbefalte løsninger på gjentakende UI-problemer med fokus på tilgjengelighet og forutsigbarhet."
    path="/ds/mønster"
>
    <main class="page">
        <PatternIndexPage />
    </main>
</BaseLayout>
