.ty-pitfalls {
    display: grid;
    gap: 5rem;

    .item {
        display: grid;
        gap: var(--jkl-spacing-m);
        padding-block-end: 5rem;
        border-block-end: 1px solid var(--jkl-color-border-ui);

        &:last-child {
            border-block-end: none;
            padding-block-end: 0;
        }
    }

    .title,
    .problem,
    .why {
        margin: 0;
    }

    .code-pair {
        display: grid;
        gap: var(--jkl-spacing-s);
    }
}
