.site-footer {
  color: var(--site-text-color);
  padding-block: var(--site-space-m);
  margin-block-start: var(--site-space-xl);

  .content,
  .section,
  .links {
    display: grid;
  }

  .content {
    gap: var(--site-space-m);
  }

  .nav {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--site-space-m);
    inline-size: 100%;
  }

  .section {
    flex: 1 0 0;
    gap: var(--site-space-xs);
    min-inline-size: var(--site-section-min-width);
  }

  .title {
    color: var(--site-text-muted);
  }

  .links {
    all: unset;
    gap: var(--site-space-xxs);
    list-style: none;
  }

  .link {
    color: inherit;
    text-decoration: none;
  }

  .note {
    color: var(--site-text-muted);
  }
}
