.ds-grid {
  display: grid;
  gap: var(--ds-grid-gap, 1rem);
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, var(--ds-grid-col-min, 16rem)), 1fr)
  );

  &[data-columns] {
    grid-template-columns: repeat(var(--ds-grid-cols), minmax(0, 1fr));
  }

  @media (max-width: 640px) {
    &[data-columns] {
      grid-template-columns: repeat(
        auto-fill,
        minmax(min(100%, var(--ds-grid-col-min, 16rem)), 1fr)
      );
    }
  }
}
