.component-card {
    container-type: inline-size;
}

.component-card-preview {
    background-image:
        linear-gradient(
            45deg,
            color-mix(in srgb, var(--jkl-color-border-subdued) 8%, transparent) 4%,
            transparent 4%,
            transparent 96%,
            color-mix(in srgb, var(--jkl-color-border-subdued) 8%, transparent) 96%
        ),
        linear-gradient(
            -45deg,
            color-mix(in srgb, var(--jkl-color-border-subdued) 8%, transparent) 4%,
            transparent 4%,
            transparent 96%,
            color-mix(in srgb, var(--jkl-color-border-subdued) 8%, transparent) 96%
        );
    background-size: 32px 32px;
    border-bottom: 1px solid var(--jkl-color-border-subdued);
    height: 14rem;
    overflow: hidden;
    padding: var(--jkl-spacing-xl);

    &__inner {
        pointer-events: none;
        user-select: none;
        zoom: 0.55;
    }
}

.component-card__content {
    padding: var(--jkl-spacing-m);
}

@container (min-width: 22rem) {
    .component-card__container {
        display: flex;
        align-items: stretch;
        gap: 0;
    }

    .component-card-preview {
        flex: 0 0 40%;
        height: auto;
        min-height: 12rem;
        border-bottom: 0;
        border-right: 1px solid var(--jkl-color-border-subdued);
    }

    .component-card__content {
        flex: 1;
        display: flex;
        align-items: center;
    }
}
