.site-header {
  position: relative;
  z-index: 2;
  color: var(--site-text-color);
  padding-block: var(--site-space-s);
  padding-inline: var(--site-space-s);

  .brand,
  .link {
    color: inherit;
    font: inherit;
    text-decoration: none;
  }

  .links {
    all: unset;
    list-style: none;
  }
}
