.component-card .preview {
    background-image:
        linear-gradient(
            45deg,
            color-mix(in srgb, var(--jkl-color-border-subdued) 8%, transparent) 4%,
            transparent 4%,
            transparent 96%,
            color-mix(in srgb, var(--jkl-color-border-subdued) 8%, transparent) 96%
        ),
        linear-gradient(
            -45deg,
            color-mix(in srgb, var(--jkl-color-border-subdued) 8%, transparent) 4%,
            transparent 4%,
            transparent 96%,
            color-mix(in srgb, var(--jkl-color-border-subdued) 8%, transparent) 96%
        );
    background-size: 32px 32px;
}

.component-card-preview {
    height: 14rem;
    overflow: hidden;
    padding: var(--jkl-spacing-xl);

    .inner {
        pointer-events: none;
        user-select: none;
        zoom: 0.55;
    }
}

.component-card .content {
    padding: var(--jkl-spacing-m);
}

@container (min-width: 22rem) {
    .component-card-preview {
        height: auto;
        min-height: 12rem;
    }
}
