@layer site, jokul.components, jokul.theme;

@layer site {
  .jkl-site {
    --site-max-width: 180ch;
    --page-max-width: var(--site-max-width);
    --site-border-color: var(--jkl-color-border-subdued);
    --site-text-color: var(--jkl-color-text-default);
    --site-text-muted: var(--jkl-color-text-subdued);
    --site-space-xxs: var(--jkl-spacing-xxs);
    --site-space-xs: var(--jkl-spacing-xs);
    --site-space-s: var(--jkl-spacing-s);
    --site-space-m: var(--jkl-spacing-m);
    --site-space-l: var(--jkl-spacing-l);
    --site-space-xl: var(--jkl-spacing-xl);
    --site-copy-max-width: 65ch;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
    background-color: var(--jkl-color-background-page);
    color: var(--jkl-color-text-default);
  }

  body:has(.jkl-site) {
    margin: 0;
    padding: 0;
  }

  .jkl-site.site-layout {
    padding-inline: 0;
    padding-block: var(--jkl-spacing-xl);
    padding-block-end: 0;
    flex: 1;

    --content-max-width: var(--site-max-width);
  }
}
