.home {
    .hero {
        padding-block-end: var(--jkl-spacing-2xl);
        border-block-end: 1px solid var(--jkl-color-border-subdued);

        .description {
            color: var(--jkl-color-text-subdued);
            max-width: 46ch;
            margin: 0 0 var(--jkl-spacing-l);
        }
    }

    .section {
        padding-block-end: var(--jkl-spacing-2xl);
        border-block-end: 1px solid var(--jkl-color-border-subdued);

        &:last-child {
            border-block-end: none;
            padding-block-end: 0;
        }
    }
}
