---
import type {SiteLink} from "./site-types";

interface Props {
    links?: SiteLink[];
    note: string;
}

const {
    links = [],
    note,
} = Astro.props;
---

<footer class="site-footer page content">
    {links.length > 0 && (
            <nav aria-label="Bunnnavigasjon">
                <ul class="links">
                    {links.map((link) => (
                            <li>
                                <a class="link" href={link.href}>{link.label}</a>
                            </li>
                    ))}
                </ul>
            </nav>
    )}
    <small class="note">{note}</small>
</footer>
