---
interface Props {
    title?: string;
}

const { title = "Innhold" } = Astro.props;
---

<basic-toc data-title={title}>
    <nav aria-label={title} data-page-toc-nav></nav>
</basic-toc>

<script>
    import "@lmfaole/basics/components/basic-toc/register";
</script>
