.component-page-example {
    .toolbar {
        border-radius: var(--jkl-border-radius-medium);
        border: 1px solid var(--jkl-color-border-subdued);
    }

    .toolbar[data-layout="mobile"] {
        flex-direction: row;
        align-items: center;
    }

    .props {
        padding-inline-start: var(--jkl-spacing-l);
    }

    .controls-inline {
        width: 100%;
    }

    .props-inline {
        width: 100%;
    }

    .json-error {
        color: var(--jkl-color-text-danger);
    }

    @media (max-width: 48rem) {
        .toolbar {
            flex-direction: column;
            align-items: stretch;
        }

        .toolbar[data-layout="mobile"] {
            flex-direction: row;
            align-items: center;
        }

        .props {
            padding-inline-start: 0;
            border-block-start: 1px solid var(--jkl-color-border-subdued);
            padding-block-start: var(--jkl-spacing-s);
        }

        .controls-inline {
            flex-direction: column;
        }
    }

    .area {
        position: relative;
        min-height: 70svh;
        background-color: var(--jkl-color-background-page);
        color: var(--jkl-color-text-default);

        .inner {
            position: absolute;
            inset: 0;
            overflow: visible;
        }
    }
}
