.token-article {
    .token-content-stack {
        display: grid;
        gap: var(--jkl-spacing-xl);
    }

    .token-table-section {
        display: grid;
        gap: var(--jkl-spacing-m);
    }

    .meta {
        padding-block: var(--jkl-spacing-m);
        border-block: 1px solid var(--jkl-color-border-subdued);
    }
}
