---
interface Props {
    code: string;
}

const { code } = Astro.props;
const trimmedCode = code.trim();
---

<div class="code-block" data-size="small">
    <div class="content">
        <div class="copy">
            <button type="button" class="component-copy-button" data-copy-code={trimmedCode} data-copy-state="idle">
                <span data-copy-label>Kopier</span>
            </button>
        </div>
        <pre class="pre"><code>{trimmedCode}</code></pre>
    </div>
</div>
